<div class ="container d-flex flex-column ">
  <h1 class="mt-3 fst-italic text-center"> Mina Citater</h1>

  <form #myQuotesForm="ngForm" (ngSubmit) ="onSubmit(myQuotesForm)">
    <div>
      <input type="text" ngModel name ="newQuote" placeholder="Skriv in din citat" 
      class="form-label mt-3 mx-auto d-grid" style="width: 50%;">
    </div>
    <button class ="btn btn-primary mx-auto d-grid">Spara citat</button>
  </form>
  <hr>

  <div class ="container">
    <div *ngFor ="let quote of quotesArray; let idx = index"
      class ="d-flex flex-column mb-5 flex-md-row gap-2 align-items-start">
        
        <input #quoteinput type="text" value="{{quote.quote}}" class ="form-control"
          [readOnly] = "quote.isReadOnly">
        
          <button class="btn btn-warning" style="width: 160px; height: 39px;" (click)="onEdit(idx)">
            Ändra <i class="fa-solid fa-pen-to-square"></i></button>
        
        
          <button  class="btn btn-primary" style="width: 160px; height: 39px;" 
          (click)="onSave(idx, quoteinput.value)">
            Spara <i class="fa-solid fa-floppy-disk"></i>
          </button>
        
          <button class="btn btn-danger" style="width: 180px; height: 39px;" (click)="onDelete(idx)">
            Radera <i class="fa-solid fa-delete-left"></i>
          </button>
    </div>
    <hr>
</div>
