/* global styles, t.ex. styles.css */
:root[data-bs-theme="dark"] {
  --bs-body-bg: #121212;     
  --bs-body-color: #f8f9fa;   
}

:root[data-bs-theme="light"] {
  --bs-body-bg: #ffffff;      
  --bs-body-color: #212529;   
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}